@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.section{
	width: 100%;
}

.section .container{
	width: 80%;
	display: block;
	margin: 0px auto;
	padding: 50px 0px;
}

.container .title{
	width: 100%;
	text-align: center;
	
}

.container .title h1{
	text-transform: uppercase;
	font-size: 35px;
	color: #D88383;
}

.security{
	margin-bottom: 30px;
}


.delivery{
	margin-bottom: 30px;
}